In [1]:
import pandas as pd
pd.read_csv("Auto.csv")

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [2]:
auto_data = pd.read_csv("Auto.csv")
auto_data.loc[25:30, 'year':'name']

    year  origin                 name
25    70       1            ford f250
26    70       1            chevy c20
27    70       1           dodge d200
28    70       1             hi 1200d
29    71       3         datsun pl510
30    71       1  chevrolet vega 2300

In [3]:
auto_data.iloc[25:30, 7:9]

    origin          name
25       1     ford f250
26       1     chevy c20
27       1    dodge d200
28       1      hi 1200d
29       3  datsun pl510